<div id="bar" class="col-lg-6 mx-3 card ">
    <h3 class="card-header d-sm-flex align-items-sm-center py-sm-0 py-sm-2 my-sm-1">Bar Graph
        <%= link_to 'download', 'home/download', class: 'btn btn-primary mt-2 mt-sm-0 ms-sm-auto' %>
        <span id="modename2" class="btn btn-primary mt-2 mt-sm-0 ms-sm-auto" onclick="dark2()">
            <%= content_tag :i, nil, id: 'darkicon2', class: 'fas fa-life-ring me-2' %>
            <span id="modetitle2">dark mode<span>
        <span>
    </h3>
    <div id="chart-container-2" class="card-body p-0"></div>
</div>