<div id="half-doughnut" class="col-lg-5 mx-4 card">
    <h3 class="card-header d-sm-flex align-items-sm-center py-sm-0 py-sm-2 my-sm-1">Half Doughnut Graph
        <span id="modename4" class="btn btn-primary mt-2 mt-sm-0 ms-sm-auto" onclick="dark4()">
            <%= content_tag :i, nil, id: 'darkicon4', class: 'fas fa-life-ring me-2' %>
            <span id="modetitle4">dark mode<span>
        <span>
    </h3>
    <div id="chart-container-4" class="card-body p-0"></div>
</div>