<div id="pie" class="col-lg-6 mx-3 card ">
    <h3 class="card-header d-sm-flex align-items-sm-center py-sm-0 py-sm-2 my-sm-1">Pie Graph
        <span id="modename3" class="btn btn-primary mt-2 mt-sm-0 ms-sm-auto" onclick="dark3()">
            <%= content_tag :i, nil, id: 'darkicon3', class: 'fas fa-life-ring me-2' %>
            <span id="modetitle3">dark mode<span>
        <span>
    </h3>
    <div id="chart-container-3" class="card-body p-0"></div>
</div>