<div class="navbar navbar-dark navbar-expand-lg navbar-static">
	<div class="container-fluid">

		<div class="navbar-brand flex-1 flex-lg-0">
			<a href="\" class="d-inline-flex align-items-center">
				<%= image_tag "logo_icon.svg" %>
				<%= image_tag 'logo_text_light.svg',  class:'d-none d-sm-inline-block h-16px ms-3' %>
			</a>
		</div>

		<ul class="nav flex-row justify-content-end order-1 order-lg-2">
			<li class="nav-item nav-item-dropdown-lg dropdown ms-lg-2">
				<a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
					<div class="status-indicator-container">
						<%= image_tag 'demo/users/face11.jpg', class: 'w-32px h-32px rounded-pill' %>
						<span class="status-indicator bg-success"></span>
					</div>
					<span class="d-none d-lg-inline-block mx-lg-2">Victoria</span>
				</a>
			</li>
		</ul>

	</div>
</div>


